@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap');

body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: #18004d; /* Fondo general */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.title {
  color: #8bd6ff;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  margin-top: -100px;
  
}

.subtitle {
  color: #a4cfff;
  font-size: 1.5rem;
  margin-top: -20px;
  font-weight: 600;

}

.input-select {
  width: 160px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  text-align: center;
  outline: none;
  margin-top: 5px;
  font-weight: 600;
}
.input-select-facultad{
  width: 180px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  outline: none;
  margin-top: 5px;
  font-weight: 600;
}

.input-select option {
  font-weight: 600;
}

.btn {
  width: 240px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn.primary {
  background-color: #0095ff;
  color: #fff;
  margin-top: 110px;
}
.btn.primary.reg {
  background-color: #0095ff;
  color: #fff;
  margin-top: 50px;
}

.btn.primary:hover {
  background-color: #0078d4;
}

.btn.secondary {
  background-color: #fff;
  color: #0095ff;
}

.btn.secondary:hover {
  background-color: #e1e8ff;
}

.logo-container {
  margin-top: 35px;
  opacity: 0.8;
}

.logo {
  position: absolute;
  bottom: 20px;
  left: 200px;
  width: 110px;
  opacity: 0.9;
}

.background {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.register-title {
  color: #8bd6ff;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: -80px;
}

.register-input {
  width: 220px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  text-align: center;
  font-weight: 600;
  margin-top: 8px;
  background-color: #ffffff;
  color: #000000;
}

.register-btn {
  background-color: #00bfff;
  color: #000;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.register-btn:hover {
  background-color: #00a3cc;
}

.back-button {
  position: absolute;
  top: -100px;
  left: -300px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}